<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CJU Blog</title>
</head>
<body>
    <form action="/create">
        <div>게시글 등록 </div>
        <div>
            <input type="text" name="title" id="title" placeholder="제목 입력">
        </div>
        <div>
            <textarea name="content" id="content" cols="30" rows="10"></textarea>
        </div>


    </form>
</body>
</html>