<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>세션 실습</title>
</head>
<body>
    {% if session.id %}
        <p>로그인 되었습니다 ^^.</p>  
        <p>아이디: {{ session.id }}님</p>
        <p>비번: {{ session.passwd }}님 반갑습니다 ^^.</p>
        <p><a href="/logout">logout</a></p>
    {% else %}
        <p>로그인 하셔야 됩니다.</p> 
        <p><a href="/login">login</a></p>
    {% endif %}
</body>
</html>